@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto&display=swap');
:root{
    --primary : #222831;
    --secondary : #393E46;
    --nav : #454B55;
    --white : #EEEEEE;
    --button : #059862;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: var(--primary);
}

h1,h2,h3,h4,h5,h6,p,a{
    color: var(--white);
}

.white{
    color: var(--white);
}

.header{
    width: 100%;
    height: 100%;
    padding: 1rem 0;
    background-color: var(--secondary);
    text-align: center;
}
h4{
    color: wheat;
    text-align: center;
}

.header h1{
    font: bold;
    font-size: 3rem;
    color: var(--white);
}

.navelement{
    background-color: var(--nav);
}

.col-3{
    padding: 1rem 0;
}

.col-3 h4{
    color: var(--white);
}

.active{
    background-color: var(--primary);
}

.active h4{
    color: var(--button);
}


.mr-l{
    margin-left: 2rem;
}
.mycon{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button{
    width: 100%;
    margin-top: 20px;
    color: var(--white) !important;
    background-color: var(--button) !important;
}


label{
    color: white;
}

@media screen and (max-width: 600px) {
    .col-3 h4{
        font-size: medium;
    }
    td,th{
        padding: .5rem 1.5rem !important;
    }
}

@media screen and (max-width: 400px) {
    .col-3 h4{
        font-size: small;
    }
}

a:link{
    text-decoration: none;
}
a{
    text-decoration: none;
}